$editbuttonSize: 20px;

* {
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    margin: 0;
    display: block;
    position: relative;
    padding: 0;
    overflow: hidden;
    p,b,a,span,button:not(.editbutton) {
        color:red;
    }

    .designer {
        display: none;
    }

    .edittools {
        position: fixed;
        z-index: 999;
        display: inline-block;
        top: 0;
        right: 0;
        height: auto;
        width: auto;

        .addblock {
            display: none;
        }
        &,button {
            font-size: 1.5rem;
        }
        button {
            border: 0;
            background: transparent;
            &:hover {
                background: rgba(255,255,255,.4);
            }
        }
    }

    main {
        height: 100vh;
        width: 100%;
        z-index: 20;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .block {
        position: absolute;
        display: inline-block;
        padding: .2rem;
        div {
            display: inline-block;
            position: relative;
        }
    }
    &,* {
        font-family: -apple-system, system-ui, 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Segoe UI Variable', 'Roboto', 'Tahoma', 'Ubuntu', sans-serif;
    }
}

body.editing { // When in editing mode
    min-height: calc(100vh + 80px);
    overflow: auto;

    code {
        background-color: orange;
    }

    select {
        max-width: 100%;
        width: 100%;
        overflow: hidden;
    }

    #designer {
        display: inline-block;
        position: sticky;
        height: auto;
        width: 100%;
        background: rgba(255,255,255,.5);
        bottom: 0;
        padding: 1.2rem;
        box-sizing: border-box;
        border: 0;
        margin: 0;
        overflow: hidden;
    }

    .block {
        user-select: none;
        &>div {
            .editdiv {
                display: none;
            }
        }
        .editdiv {
            position: absolute;
            height: calc(100% + #{$editbuttonSize} / 2);
            width: 100%;
            top: -($editbuttonSize / 2);
            background-color: rgba(255,0,0,.2);
            outline: 1px solid red;
            border-top: ($editbuttonSize / 2) solid blue;
            box-sizing: border-box;
            >button {
                padding:0;
                position: absolute;
                display: inline-block;
                top:-($editbuttonSize / 2);
                height: $editbuttonSize;
                width: $editbuttonSize;
                border:0;
                &,* {
                    font-size: $editbuttonSize;
                    text-align: center;
                    line-height: 1;
                }
                &.dragger {
                    cursor: move;
                    left: 0;
                    background: lime;
                }
                &.resizer {
                    display: none;
                    // &.smaller {
                    //     left: 1 * $editbuttonSize;
                    //     background: orange;
                    // }
                    // &.bigger {
                    //     left: 2 * $editbuttonSize;
                    //     background: orangered;
                    // }
                }

                &.designer {
                    left: 1 * $editbuttonSize;
                    background: purple;
                }

                &.remover {
                    left: 2 * $editbuttonSize;
                    background: red;
                }
            }

        }
    }

    .edittools {
        .addblock {
            display: inline-block;
        }
    }
}