$editbuttonSize: 24px;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html:has(.clock) {
    background: #000;
    color-scheme: dark;
    color: #fff;
}

body.clock {
    font-size: 1.4rem;
    display: block;
    position: relative;
    overflow: hidden;

    &:has(iframe#itchframe) {
        overflow: hidden !important;
    }

    p,b,a,span,button:not(.editbutton) {
        color:#ffff00aa;
    }

    .designer { // Don't display the designer when not in editing mode
        display: none;
    }

    main {
        height: 100vh;
        width: 100%;
        z-index: 20;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    .block {
        position: absolute;
        display: inline;
        padding: .2rem;
        user-select: none;

        div {
            display: inline-block;
            position: relative;
        }

    }
    &,* {
        font-family: -apple-system, system-ui, 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Segoe UI Variable', 'Roboto', 'Tahoma', 'Ubuntu', sans-serif;
    }


    .edittools {
        position: fixed;
        z-index: 999;
        display: inline-block;
        top: 0;
        right: 0;
        height: auto;
        width: auto;

        &,button {
            font-size: 1.75rem;
            line-height: 1;
            padding: 0;
        }

        button {
            border: 0;
            background: transparent;
            height: 3rem;
            width: 3rem;
            &:hover {
                background: rgba(255,255,255,.2);
                color: #ff0;
            }
        }

        .addblock,
        .trashbin {
            display: none;
        }
    }
}







// Editing:

body.clock {
    &.editing {
        min-height: calc(100vh + 80px);
        overflow: auto;

        code {
            background-color: orange;
        }

        select {
            max-width: 100%;
            width: auto;
            overflow: hidden;
        }

        #designer {
            display: block;
            z-index: 21;
            position: sticky;
            height: auto;
            width: 100%;
            background: rgba(255,255,255,.5);
            bottom: 0;
            padding: 1.33rem;
            box-sizing: border-box;
            border: 0;
            margin: 0;
            overflow: hidden;
            >div {
                display: inline-block;
                outline: .4px solid #00000022;
            }
        }

        .block {
            &>div {
                .editdiv {
                    display: none;
                }
            }


            .editdiv {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(255,0,0,.2);
                outline: 1px solid #ff0;
                box-sizing: border-box;

                >button {
                    padding: 0;
                    position: absolute;
                    display: inline-block;
                    height: $editbuttonSize;
                    width: $editbuttonSize;
                    border: 0;
                    z-index: 9;
                    &,* {
                        font-size: $editbuttonSize - 4px;
                        text-align: center;
                        line-height: 1;
                        color: #000;
                    }
                    &.dragger {
                        cursor: move;
                        left: 0;
                        background: lime;
                    }
                    &.resizer {
                        display: none;
                    }

                    &.designer {
                        left: 1 * $editbuttonSize;
                        background: #b4b;
                    }

                    &.remover {
                        left: 2 * $editbuttonSize;
                        background: red;
                    }
                }
            }
        }

        .edittools {
            .addblock,
            .trashbin {
                display: inline-block;
            }

            .trashbin {
                &:hover,
                &:focus-visible {
                    color: red;
                }
            }
        }
    }
}

// Others:

body.logoonly {
    img {
        height: 100vmin;
        width: 100vmin;
        aspect-ratio: 1/1;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        image-rendering: pixelated;
    }
}


body.hasiframe {
    iframe#itchframe {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 0px solid transparent !important;
        outline: 0px solid transparent !important;
        background-color: #000;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
