body {
  font-size: 1.4rem;
  margin: 0;
  display: block;
  position: relative;
  padding: 0;
}
body main {
  z-index: 20;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}
body .block {
  position: absolute;
  display: inline-block;
  padding: 0.2rem;
}
body .block div {
  display: inline-block;
  position: relative;
}
body, body * {
  color: #ff0;
  font-family: -apple-system, system-ui, "Helvetica Neue", "Helvetica", "Segoe UI", "Segoe UI Variable", "Roboto", "Tahoma", "Ubuntu", sans-serif;
}
body #edit-blocks {
  display: none;
}

body.editing {
  min-height: 120vh;
}
body.editing .block {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body.editing .block .editdiv {
  position: absolute;
  height: calc(100% + 10px);
  width: 100%;
  top: -10px;
  background-color: rgba(255, 0, 0, 0.2);
  outline: 1px solid red;
  border-top: 10px solid blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.editing .block .editdiv > div {
  position: absolute;
  display: inline-block;
  top: -10px;
  height: 10px;
  width: 10px;
}
body.editing .block .editdiv > div.dragger {
  cursor: move;
  left: 0;
  background: lime;
}
body.editing .block .editdiv > div.resizer {
  cursor: e-resize;
  left: 10px;
  background: orange;
}
body.editing #edit-blocks {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  min-height: 20vh;
  width: 100%;
  background-color: orangered;
  z-index: 10;
}